* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    background-color: darkgrey;
}
h1 {
    font-family: fantasy;
    font-size: 30px;
    color: purple;
}

ul {
    margin: 10px 0px;
    padding-left: 30px;
    list-style-type: none;
}

ol {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

li {
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    color: blue;
    background-color: lightpink;
}

img {
    display: block;
    width: 200px;
   margin: 0 auto;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h3 {
    margin: 20px 0px;
    text-decoration: underline;
}

p {
    padding: 20px 0px;
}
